main{
    height: 500px;
}

div.Main{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content:center;
    background: #f70f0f2e;
}
div.Main ul.ulEl{
    display: flex;
    width: 100%;
    justify-content: center;
}

div.Main ul.ulEl li{
   width: 100px;
   height: 100px;
   margin: 0 1em;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   cursor: pointer;
   border:3px solid rgba(0, 0, 0, 0.911);
   border-radius:70%;
   transition: all .4s;
   
}

div.Main ul.ulEl li:hover{
    background-color: #fff;
}
