header{
    width:100%;
    height: 400px;
    padding: 0 10px;
    background-image: url("../../images/barber.png");
    background-size: cover;
    background-repeat: repeat;
    border-bottom: 1px solid rgb(167, 48, 0);
}

div.info-header{
    display: flex;
    width: 100%;
    justify-content: center;
}
.logo{
    opacity: 0.6;
    margin: 0.5em;
    height: 100%;
    border:1px solid #ffffff98;
}

img{
    width: 70px;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;

}
ul.listEl{
    width: 80%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

ul.listEl li{
    display: inline;
    border-right: 2px solid rgb(216, 84, 17);;
    padding: 0 2px;
}

ul.listEl li a {
    text-decoration:none;
    color: #fff;
    padding: 10px 6px;

}

ul.listEl li a:hover{
    background:rgba(0, 0, 0, 0.616);
    border-radius:20px;
}

div.header-descr{
    width: 100%;
    height: 200px;
    margin-top: 2em;
    text-align:center;
    color: #fff;
    font-size: 1.7em;
}